<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="luizventurote.minhagrana" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovimentacaoFinanceiraActivity"
            android:label="@string/title_activity_novo_gasto" >

            <!-- Parent Activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ConfigActivity"
            android:label="@string/title_activity_config" >
        </activity>
        <activity
            android:name=".GoogleDrive"
            android:label="@string/title_activity_google_drive"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".RelatorioActivity"
            android:label="@string/title_activity_relatorio" >
        </activity>
    </application>

</manifest>
